@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&display=swap');
   

body {
    font-family: 'Sarala', sans-serif;
    background-image: url("../Imagens/background.jpg");
}

/* Header */

.cabecalho {
    background-image: url("../Imagens/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 1.5px solid #FFF2E7;
}

.cabecalho-main-texto {
    font-weight: 300;
    font-size: 72px;
    color:#FFF2E7;
}

.cabecalho-main-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-main-menu-item {
    font-family: 'Sarala', sans-serif;
    color:#FFF2E7;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho-main-menu-item:hover {
    color:#d18548;
    font-weight: 1000;
}

.cabecalho-selection {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.cabecalho-selection-texto-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:#FFF2E7;
}

.cabecalho-selection-texto-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #ECD6C4;
}

.cabecalho-selection-texto-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#2F2325;
}

.cabecalho-selection-texto-botao:hover {
    background-color:#d18548;
    font-weight: 1000;
}

/* Main - Titulo */

.conteudo-titulo-h1 {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:#FFF2E7;
}

/* Main - Nav */

.conteudo-navegacao {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conteudo-navegacao-ul {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    gap:50px;
}

.conteudo-navegacao-li {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    color: #FFF2E7;
    font-size: 18px;
    font-weight: 400;
}

.conteudo-navegacao-li:hover {
    color:#d18548;
    font-weight: bold;
}

/* Main - Tabela */

.conteudo-tabela {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.conteudo-tabela-linha-head-patente, .conteudo-tabela-linha-head-descricao {
    width: 300px;
    height: 50px;
    font-family: 'Sarala', sans-serif;
    color: #d18548;
    font-size: 32px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 30px;
}

.conteudo-tabela-linha-head-descricao {
    width: 600px;
}

.conteudo-tabela-linha-patente {
    width: 400px;
    height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    gap: 20px;
}

.conteudo-tabela-linha-descricao {
    width: 800px;
    height: 300px;
}

.conteudo-tabela-coluna {
    border-top: #ECD6C4 solid 1px;
}

.conteudo-tabela-coluna-first {
    border-top: transparent;
}

.conteudo-tabela-coluna-last {
    border-bottom: #ECD6C4 solid 1px;
}

.patente-p {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    color:#FFF2E7;
    font-size: 24px;
    font-weight: 400;
}

.patente-img {
    width: 120px;
    padding-left: 140px;
}

.patente-img-medio {
    width: 120px;
    height: 180px;
    padding-left: 140px;
}

.patente-img-maior {
    width: 280px;
    padding-left: 70px;
}

.descricao-p {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    color: #FFF2E7;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/* Footer */

.rodape {
    border-top: 1.5px solid #FFF2E7;
}   

.rodape-texto {
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
    padding: 50px;
}





