@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
        
body {
    font-family: 'Sarala', sans-serif;
    background-image: url("../Imagens/background.jpg");
}

/* Header */

.cabecalho {
    background-image: url("../Imagens/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 1.5px solid #FFF2E7;
}

.cabecalho-main-texto {
    font-weight: 300;
    font-size: 72px;
    color:#FFF2E7;
}

.cabecalho-main-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-main-menu-item {
    font-family: 'Sarala', sans-serif;
    color:#FFF2E7;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho-main-menu-item:hover {
    color:#d18548;
    font-weight: 1000;
}

/* Main */

.container {
    display: flex;
    justify-content: center;
    padding: 48px 24px;
}

.container-form-ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 50px 
}

.container-form-li {
    display: flex;
    justify-content:space-between
}

.container-form-li-input {
    min-width: 300px;
    min-height: 22px;
    border-radius: 10px;
}

#container-form-li-input-dataNascimento {
    min-width: 150px;
    min-height: 20px;
    border-radius: 10px;
}

#container-form-li-textarea {
    display: flex;
    flex-direction: column;
    gap:32px
}

#container-form-li-label-textarea {
    min-width: 560px;
    max-width: 560px;
    min-height: 150px;
    max-height: 600px;
    border-radius: 10px;
}

.container-form-h {
    display: flex;
    justify-content: center;
    font-family: 'Sarala', sans-serif;
    color:#FFF2E7;
    font-weight: 1000;
    font-size: 64px;
    text-decoration: none;
    border-bottom: 1.5px solid #FFF2E7;
    padding-bottom: 33px;
}

#container-form-li-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#2F2325;
}

#container-form-li-botao-flex {
    display: flex;
    justify-content: center;
}

#container-form-li-botao:hover {
    background-color:#d18548;
    font-weight: 1000;
}

.container-label-input, .container-label-input-semHover {
    font-family: 'Sarala', sans-serif;
    color:#FFF2E7;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
}

.container-label-input:hover {
    color:#d18548;
}

#msg {
    border: rgb(42, 39, 39) solid 2px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(250, 80, 80);
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    display: none;
}

/* Footer */

.rodape {
    border-top: 1.5px solid #FFF2E7;
}   

.rodape-texto {
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
    padding: 50px;
}
